.number {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  color: white;
  background: $dk-primary;
  width: 60px;
  height: 60px;
  border-radius: 10px;

  @media (min-width: 1200px) {
    &:not(.number-last)::before {
      content: "";
      position: absolute;
      width: 206px;
      height: 1px;
      background: $dk-primary;
      left: 70px;
      opacity: 0.2;
    }
  }

  @media (min-width: 1400px) {
    &:not(.number-last)::before {
      width: 256px;
    }
  }
}