.scroll-down {
  display: flex;
  align-items: center;
  
  span {
    color: $dk-primary;
  }
  
  img {
    transition: transform 0.3s ease;
  }

  &:hover {
    img {
      transform: translateY(5px);
    }
  }
}